<% layout("/layouts/boilerplate") %>
<body> 
    <div class="row">
        <div class="col-8 offset-2">
            &nbsp;<h3 class="mb-3">Create a New Listing</h3>&nbsp;

            <form method="POST" action="/listings" enctype="multipart/form-data">
            
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input id="title" name="listing[title]" placeholder="enter title" type="text" class="form-control" required/>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="listing[description]" placeholder="enter description" class="form-control" required/></textarea>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input id="image" name="listing[image]" type="file" class="form-control"/>
                </div>

                <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input id="price" name="listing[price]" placeholder="enter price" class="form-control" required/>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input id="country" name="listing[country]" placeholder="enter country" type="text" class="form-control" required/>
                        </div>
                </div>
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input id="location" name="listing[location]" placeholder="enter location" type="text" class="form-control" required/>
                </div>
                
                <br/><br/><button class="btn btn-dark mb-3">Add</button><br/><br/>
            </form>
        </div>
    </div>
</body>
</html>